
/*母婴玩具*/
.box1-e{ margin:0 auto; width:987px; margin-top:10px; margin-bottom:23px;}
.box2-e{ margin:0 auto; width:987px; margin-top:20px; height:509px;  position:relative;}
.box2a-e{ height:37px; background:url(../img/img-e/8f.jpg) no-repeat 0 center;}
.box2a-e h2{ height:37px; line-height:37px; font-size:19px; padding-left:40px; color:#666; font-weight:bold;}
.box2a-e li{ height:36px; line-height:36px; }
.box2a-e li a{ border-right:1px solid #ccc; padding:0 16px 0 16px; font-size:11px; color:#666;}
.box2a-e li:hover{ border-top:2px solid #c81624; border-left:1px solid #c81624;  border-right:1px solid #c81624;}

.box2aaa-e{ position:absolute; top:36px; width:987px; height:473px; border-top:1px solid #c81624;}
.box2b-e{ height:473px; left:0;  width:210px;}
.ul-e{ width:210px; height:92px; background: #def1f7;}
.box2b-e ul .li1-e{ background: url(../img/img-e/images/all_08.jpg) no-repeat 10px center;}
.box2b-e ul .li2-e{ background: url(../img/img-e/images/all_10.jpg) no-repeat 10px center;}
.box2b-e ul .li3-e{ background: url(../img/img-e/images/all_14.jpg) no-repeat 10px center;}
.box2b-e ul .li4-e{ background: url(../img/img-e/images/all_15.jpg) no-repeat 10px center;}
.box2b-e ul li a{ font-size:15px; color:#999ea2; padding-left:40px; line-height:46px; }
.box2bab-e{ width:186px; height:145px; background:#cdebf5; text-align:left; padding-left:24px;}
.box2bab-e p a{ font-size:14px; color:#666865; line-height:28px;}
.box2bab-e p .a1-e{ color:#d60201;}
.p1-e{padding-top:26px;}
.box2c-e{ width:777px; height:473px;}

.box2b-e ul .li5-e{ background:url(../img/img-e/images/all_34.jpg) no-repeat 10px center;}
.box2b-e ul .li6-e{ background:url(../img/img-e/images/all_36.jpg) no-repeat 10px center;}
.box2b-e ul .li7-e{ background:url(../img/img-e/images/all_42.jpg) no-repeat 10px center;}
.box2b-e ul .li8-e{ background:url(../img/img-e/images/all_43.jpg) no-repeat 10px center;}

.box5-e{ width:987px; height:142px; margin:0 auto;}

 















