
.top-box .nav{
    width:100%;
    border-bottom:1px solid #ca3131;
    box-shadow:1px 1px 0 rgba(255,255,255,0.3)
}
.top-box .nav .nav-r ul{
    display:none;
}
.nav .blo {
    display:block;
}

.nav .list{
    display:block;

}
.content{
    width:100%;
    padding:15px 0;
    margin:40px auto;
}
.content .con-top .l{
    width:100%;
}
.content .con-top .r{
    width:100%;
}
.content .con-bottom .l{
    width:100%;
}
.content .con-bottom .r{
    width:100%;
}