@charset "utf-8";
/* CSS Document */

/*--------------顶部导航-------------*/
.nav{width:100%; height:37px; background:#2b2b2b; border-top:3px solid #00925f;}
.nav-1{width:1180px; height:37px; margin:0 auto;}
.nav-1 .nav-1-1{width:175px; height:37px; position:relative;}
.nav-1 .nav-1-1 i{width:60px; height:37px; background:url(../img/icons.png) no-repeat -266px 8px; position:absolute; left:0; right:0;}
.nav-1 .nav-1-1 p{color:#FFF; line-height:37px; margin-left:70px; font-size:12px; color:#00925f; font-family:'微软雅黑'; font-weight:bold;}

.nav-1 .nav-1-2{width:387px; height:27px; margin-top:8px;}
.nav-1 .nav-1-2 .nav-1-2-1 li{font-size:12px; margin-top:5px; padding:0 15px; border-right:1px solid #474747;}
.nav-1 .nav-1-2 .nav-1-2-1 li a{color:#ccc;}
.nav-1 .nav-1-2 .nav-1-2-2{width:80px; height:20px; position:relative;}
.nav-1 .nav-1-2 .nav-1-2-2 i{width:35px; height:21px; background:url(../img/icons.png) no-repeat 13px -1014px; position:absolute; left:0; top:0;}
.nav-1 .nav-1-2 .nav-1-2-2 p{margin-left:22px;}

/*--------------顶部导航2-------------*/
.nav-bottom{width:100%; height:85px; marigin:0 auto; border-bottom:3px solid #e1e1e1;}
.nav-bottom .nav-bottom-0{width:1180px; height:85px; margin:0 auto; position:relative;}
.nav-bottom .nav-bottom-0 .nav-bottom-1{width:169px; height:53px; position:absolute; left:0; right:0; margin-top:32px; 
										background:url(../img/icons.png) no-repeat 1px 1px; text-indent:-999em;}
.nav-bottom .nav-bottom-0 li{font-size:12px; font-family:'微软雅黑'; padding-left:40px; margin-top:38px;}
.nav-bottom .nav-bottom-0 .nav-bottom-2 .nav-bottom-3{margin-right:19px;}
.nav-bottom .nav-bottom-0 .nav-bottom-2 a{font-weight:bold;}
.nav-bottom-0 .oppo{width:168px; height:27px; display:block;}

/*--------------头部内容-------------*/
.header{height:617px; background:url(../img/20150202100021_PPLCdk.jpg) no-repeat 50% 0;}
.touming{width:100%; height:70px; background:#fff; margin:auto 0; margin-top:-70px; opacity:0.5; filter:alpha(opacity=50);}
.header .header-0{width:1180px; height:617px; margin:0 auto;}
.star{width:100%; height:172px; background:#f2f2f2;}
.star .star-1{width:288px; height:172px; margin:0 auto; position:relative;}
.star .star-2{width:288px; height:172px; background:url(../img/icons.png) no-repeat 0 -658px; position:absolute; left:0; top:0;}
.star-3{width:100%; height:625px; margin:auto 0; background:#f2f2f2;}
.star-3 .star-4{width:1180px; height:565px; margin:0 auto; position:relative;}
.star-3 .star-4 .star-5{ width:280px; height:560px; border-bottom:5px solid #dfdfdf;}
.star-3 .star-4 .star-5 .star-6{font-size:17px; font-family:'微软雅黑'; font-weight:bold; text-align:center; margin-top:28px;}
.star-3 .star-4 .star-5 .star-7{font-size:12px; font-family:'微软雅黑'; font-weight:bold; text-align:center; margin-top:7px; color:#CCC;}
.star-3 .star-4 .star-5 .star-8{font-size:12px; font-family:'微软雅黑'; font-weight:bold; margin-left:85px; margin-top:7px; color:#00925f;
                                width:118px; height:13px; position:relative; line-height:13px;}
.star-3 .star-4 .star-5 .star-9{width:13px; height:13px; position:absolute; right:0; top:0; background:url(../img/icons.png) no-repeat -177px -1014px;}
.star-3 .star-4 .star-5 .star-8 a{color:#00925f;}	
.star-3 .star-4 .star-5 .star-9 a{width:13px; height:13px; display:block;}	

.star-3 .star-4 .star-5-1{ width:280px; height:560px; border-bottom:5px solid #dfdfdf; margin-left:20px;}
.star-3 .star-4 .star-5-1 .star-6-1{font-size:17px; font-family:'微软雅黑'; font-weight:bold; text-align:center; margin-top:28px;}
.star-3 .star-4 .star-5-1 .star-7-1{font-size:12px; font-family:'微软雅黑'; font-weight:bold; text-align:center; margin-top:7px; color:#CCC;}
.star-3 .star-4 .star-5-1 .star-8-1{font-size:12px; font-family:'微软雅黑'; font-weight:bold; margin-left:85px; margin-top:7px; color:#00925f;
                                width:118px; height:13px; position:relative; line-height:13px;}
.star-3 .star-4 .star-5-1 .star-9-1{width:13px; height:13px; position:absolute; right:0; top:0; background:url(../img/icons.png) no-repeat -177px -1014px;}
.star-3 .star-4 .star-5-1 .star-8-1 a{color:#00925f;}	
.star-3 .star-4 .star-5-1 .star-9-1 a{width:13px; height:13px; display:block;}		

.star-3 .star-4 .star-5-2{ width:280px; height:560px; border-bottom:5px solid #dfdfdf; margin-left:20px;}
.star-3 .star-4 .star-5-2 .star-6-2{font-size:17px; font-family:'微软雅黑'; font-weight:bold; text-align:center; margin-top:28px;}
.star-3 .star-4 .star-5-2 .star-7-2{font-size:12px; font-family:'微软雅黑'; font-weight:bold; text-align:center; margin-top:7px; color:#CCC;}
.star-3 .star-4 .star-5-2 .star-8-2{font-size:12px; font-family:'微软雅黑'; font-weight:bold; margin-left:85px; margin-top:7px; color:#00925f;
                                width:118px; height:13px; position:relative; line-height:13px;}
.star-3 .star-4 .star-5-2 .star-9-2{width:13px; height:13px; position:absolute; right:0; top:0; background:url(../img/icons.png) no-repeat -177px -1014px;}
.star-3 .star-4 .star-5-2 .star-8-2 a{color:#00925f;}	
.star-3 .star-4 .star-5-2 .star-9-2 a{width:13px; height:13px; display:block;}		

.star-3 .star-4 .star-5-3{ width:280px; height:560px; border-bottom:5px solid #dfdfdf; margin-left:20px;}
.star-3 .star-4 .star-5-3 .star-6-3{font-size:17px; font-family:'微软雅黑'; font-weight:bold; text-align:center; margin-top:28px;}
.star-3 .star-4 .star-5-3 .star-7-3{font-size:12px; font-family:'微软雅黑'; font-weight:bold; text-align:center; margin-top:7px; color:#CCC;}
.star-3 .star-4 .star-5-3 .star-8-3{font-size:12px; font-family:'微软雅黑'; font-weight:bold; margin-left:85px; margin-top:7px; color:#00925f;
                                width:118px; height:13px; position:relative; line-height:13px;}
.star-3 .star-4 .star-5-3 .star-9-3{width:13px; height:13px; position:absolute; right:0; top:0; background:url(../img/icons.png) no-repeat -177px -1014px;}
.star-3 .star-4 .star-5-3 .star-8-3 a{color:#00925f;}	
.star-3 .star-4 .star-5-3 .star-9-3 a{width:13px; height:13px; display:block;}							

.xian{width:10px; height:565px; position:absolute; left:280px; top:0; border-right:1px solid #e2e0e0;}
.xian2{width:10px; height:565px; position:absolute; left:580px; top:0; border-right:1px solid #e2e0e0;}
.xian3{width:10px; height:565px; position:absolute; left:880px; top:0; border-right:1px solid #e2e0e0;}
/*--------------精配选件下面部分-------------*/
.content{width:100%; height:140px; position:relative; background:#f6f6f6;}
.content .content-0{width:387px; height:50px; position:absolute; left:50%; top:50%; margin-left:-193px; margin-top:-25px;}

.content-1{width:100%; height:930px; background:#f6f6f6; border-bottom:3px solid #d9d9d9;}
.content-1 .content-2{width:1180px; height:875px; margin:0 auto;}
.content-1 .content-2 .content-2-1{width:580px; height:875px;}
.content-1 .content-2 .content-2-1 .content-2-2{width:580px; height:580px;}
.content-1 .content-2 .content-2-1 .content-2-2 .content-2-4{width:280px; height:575px; background:#FFF; border-bottom:5px solid #e1e1e1;}
.content-1 .content-2 .content-2-1 .content-2-2 .content-2-4 img{margin-left:43px; padding-top:40px;}
.content-1 .content-2 .content-2-1 .content-2-2 .content-2-4 .content-2-5{font-size:14px; color:#868686; text-align:center; font-family:'微软雅黑';
																		  margin-top:41px;}
.content-1 .content-2 .content-2-1 .content-2-2 .content-2-4 .content-2-6{font-size:21px; color:#585858; text-align:center; font-family:'微软雅黑';
																		  margin-top:3px;}
.content-1 .content-2 .content-2-1 .content-2-2 .content-2-4 .content-2-7{font-size:12px; color:#00945e; text-align:center; font-family:'微软雅黑';
                                                                          margin-top:9px;}
.content-1 .content-2 .content-2-1 .content-2-2 .content-3-0{width:280px; height:580px; margin-left:20px;}
.content-1 .content-2 .content-2-1 .content-2-2 .content-3-0 .content-3-1{width:270px; height:270px; background:#fff; border:5px solid #eaeaea;}
.content-1 .content-2 .content-2-1 .content-2-2 .content-3-0 .content-3-1 .content-3-3{width:210px; height:58px; border-bottom:2px solid #e6e6e6;
                                                                                        margin:0 auto;}
.content-1 .content-2 .content-2-1 .content-2-2 .content-3-0 .content-3-1 .content-3-3 p{font-size:12px; font-family:'微软雅黑'; color:#576267;
																						 font-weight:bold; text-align:center; padding-top:20px;}
.content-1 .content-2 .content-2-1 .content-2-2 .content-3-0 .content-3-1 .content-3-4{width:210px; height:120px; border-bottom:2px solid #e6e6e6;
																				       margin:0 auto;}
.content-1 .content-2 .content-2-1 .content-2-2 .content-3-0 .content-3-1 .content-3-4 .content-3-5{
	width:188px; height:96px; margin:0 auto; margin-top:27px; position:relative;
	}
.content-1 .content-2 .content-2-1 .content-2-2 .content-3-0 .content-3-1 .content-3-4 .content-3-5 li{font-size:12px; color:#b2b2b2; position:absolute; left:0; top:0; background:url(../img/icons.png) no-repeat -135px -355px;}
.content-1 .content-2 .content-2-1 .content-2-2 .content-3-0 .content-3-1 .content-3-4 .content-3-5 .content-3-6{padding-left:24px; line-height:18px;}
.content-1 .content-2 .content-2-1 .content-2-2 .content-3-0 .content-3-1 .content-3-4 .content-3-5 .content-3-7{padding-left:130px; line-height:18px;}
.content-1 .content-2 .content-2-1 .content-2-2 .content-3-0 .content-3-1 .content-3-4 .content-3-5 .content-3-8{padding-left:24px; padding-top:35px; line-height:18px;}
.content-1 .content-2 .content-2-1 .content-2-2 .content-3-0 .content-3-1 .content-3-4 .content-3-5 .content-3-9{padding-left:130px; padding-top:35px; line-height:18px;}
.content-1 .content-2 .content-2-1 .content-2-2 .content-3-0 .content-3-1 .content-3-4 .content-3-5 .content-3-10{padding-left:24px; padding-top:70px; line-height:18px;}
.content-1 .content-2 .content-2-1 .content-2-2 .content-3-0 .content-3-1 .content-3-4 .content-3-5 .content-3-11{padding-left:130px; padding-top:70px; line-height:18px;}
.content-1 .content-2 .content-2-1 .content-2-2 .content-3-0 .content-3-1 .content-4-1{width:66px; height:13px; margin-left:102px; margin-top:22px;
position:relative; font-size:12px;}
.content-1 .content-2 .content-2-1 .content-2-2 .content-3-0 .content-3-1 .content-4-1 a{width:66px; height:13px; color:#00925f;
	position:absolute; right:0; top:0;  background:url(../img/icons.png) no-repeat -125px -1014px;}
.content-1 .content-2 .content-2-1 .content-2-2 .content-3-0 .content-3-2{width:280px; height:275px; border-bottom:5px solid #e1e1e1; margin-top:21px; background:#FFF;}
.content-1 .content-2 .content-2-1 .content-2-2 .content-3-0 .content-3-2 img{padding-left:20px}
.content-1 .content-2 .content-2-1 .content-2-2 .content-3-0 .content-3-2 .content-3-3{text-align:center; font-size:17px; font-family:'微软雅黑'; color:#585858; margin-top:12px;}
.content-1 .content-2 .content-2-1 .content-2-2 .content-3-0 .content-3-2 .content-3-4{text-align:center; font-size:12px; font-family:'微软雅黑'; color:#008757; margin-top:7px;}
.content-1 .content-2 .content-2-1 .content-00{width:580px; height:270px; background:#fff; margin-top:20px; border-bottom:5px solid #e1e1e1;}
.content-1 .content-2 .content-y{width:580px; height:875px;} 
.content-1 .content-2 .content-y .content-y1{width:580px; height:275px; border-bottom:5px solid #e1e1e1;}
.content-1 .content-2 .content-y .content-y2{width:580px; height:580px; margin-top:20px;}
.content-1 .content-2 .content-y .content-y2 .content-y3{width:280px; height:575px; border-bottom:5px solid #e1e1e1;}
.content-1 .content-2 .content-y .content-y2 .content-y4{width:280px; height:580px; background:#FFF;}
.content-1 .content-2 .content-y .content-y2 .content-y4 .content-y5{width:280px; height:275px; border-bottom:5px solid #e1e1e1;}
.content-1 .content-2 .content-y .content-y2 .content-y4 .content-y6{width:280px; height:275px; border-bottom:5px solid #e1e1e1; margin-top:20px;}
/*--------------探索欧泊-------------*/
.search-box{width:100%; height:750px; background:#eaeaea;}
.search{width:100%; height:130px;}		
.search .search-d{width:370px; height:130px; margin:0 auto;}
.search-box .search-x{width:1180px; height:560px; margin:0 auto;}	
.search-box .search-x .search-1{width:780px; height:560px;}
.search-box .search-x .search-1	.search-1-1{width:380px; height:560px;}
.search-box .search-x .search-1	.search-1-2{width:380px; height:560px;}
.search-box .search-x .search-1	.search-1-1 .search-1-3{width:380px; height:265px; border-bottom:5px solid #dde1e1;}
.search-box .search-x .search-1	.search-1-1 .search-1-4{width:380px; height:265px; border-bottom:5px solid #dde1e1; margin-top:20px;}
.search-box .search-x .search-1	.search-1-2 .search-1-3{width:380px; height:265px; border-bottom:5px solid #dde1e1;}
.search-box .search-x .search-1	.search-1-2 .search-1-4{width:380px; height:265px; border-bottom:5px solid #dde1e1; margin-top:20px;}


.search-box .search-x .search-2{width:380px; height:560px; background:#C9F;}			
/*--------------底部-------------*/	
.footer-s{width:100%; height:366px; }	
.footer-s .footer-1{width:100%; height:125px; border-bottom:1px solid #ccc;}
.footer-s .footer-1 .footer-2{width:1180px; height:125px; margin:0 auto; position:relative;}
.footer-s .footer-1 .footer-2 .footer-3{width:1180px; height:125px; position:absolute; left:0; top:0; background:url(../img/icons.png) no-repeat -244px -545px;}
.footer-s .footer-1 .footer-4{width:1180px; height:210px; margin:0 auto;}
.footer-s .footer-1 .footer-4 .footer-5{width:940px; height:210px; margin-top:30px;}
.footer-s .footer-1 .footer-4 .footer-5 .footer-5-1{width:188px; height:210px;}
.footer-s .footer-1 .footer-4 .footer-5 .footer-5-1 ol{background:url(../img/icons.png) no-repeat -331px -1010px;}
.footer-s .footer-1 .footer-4 .footer-5 .footer-5-1 .wowo{background:url(../img/icons.png) no-repeat -571px -981px;}
.footer-s .footer-1 .footer-4 .footer-5 .footer-5-1 .toto{background:url(../img/icons.png) no-repeat 0px -854px;}

.footer-s .footer-1 .footer-4 .footer-5 .footer-5-1 p{font-size:13px; font-family:'微软雅黑'; font-weight:bold;}
.footer-s .footer-1 .footer-4 .footer-5 .footer-5-1 li{font-size:12px; font-family:'微软雅黑'; color:#838383; margin-top:13px; margin-left:10px;}
.footer-s .footer-1 .footer-4 .footer-5 .footer-5-1 .toto li{font-size:12px; font-family:'微软雅黑'; color:#838383; margin-top:13px; margin-left:23px;}

.footer-s .footer-1 .footer-4 .footer-6 p{font-size:13px; font-family:'微软雅黑'; font-weight:bold;}
.footer-s .footer-1 .footer-4 .footer-6 .footer-6-1{margin-top:20px;}

.footer-s .footer-1 .footer-4 .footer-6{width:240px; height:210px; margin-top:30px;}

.footer-dd{width:100%; height:70px; background:#2b2b2b; border-top:5px solid #000; position:relative;}
.footer-dd .footer-d1{width:1180px; height:20px; position:absolute; left:50%; top:50%; margin-left:-590px; margin-top:-10px;}
.footer-dd .footer-d1 .footer-d2{width:564px; height:20px; background:url(../img/icons.png) no-repeat -440px 0;}
.footer-dd .footer-d1 .footer-d3{width:403px; height:20px;}
.footer-dd .footer-d1 .footer-d2 p{font-size:12px; font-family:'微软雅黑'; color:#FFF; margin-left:122px;}
.footer-dd .footer-d1 .footer-d3 li{color:#FFF; font-size:12px; font-family:'微软雅黑'; margin-right:30px;}
.footer-dd .footer-d1 .footer-d3 li .lolo{margin-right:0;}
.footer-dd .footer-d1 .footer-d3 a{color:#FFF;}
								
								























































