@charset "utf-8";
/* CSS Document */

*,ul.dl,ol,h1,h2,h3,h4,h5,h6,p{margin:0;padding:0;}	
a{
text-decoration:none;
color:#000;
}
strong,b,h1,h2,h3,h4,h5,h6{ font-weight:normal; font-size:12px;}
i,em{font-style:normal;}
a img{
	border:0;
	}
li{
	list-style:none;
	}
.clearfix:after{display:block; content:''; clear:both;}		
.clearfix{zoom:1;}
.fl{float:left;}
.fr{float:right;}
table{border-collapse:collapse;}
th,td{border:1px solid #ccc; padding:0;}
input,textarea{outline:none;}
img{border:none; display:block;}
